<!DOCTYPE>

<html>
<head>
<meta charset="utf-8">
<script src="./lib/vue.js"></script>
<style>
.active {
	background-color: yellow;
}
.text-red {
	color: red;
}
</style>
</head>

<body>
<div id="wrapper">
<h1 id="title" v-once>{{ message  }}</h1>
<div>{{ rawHTML }}</div>
<span v-html="rawHTML"></span>

<div v-bind:id="dynamicId">V-Bind, {{ message + " world!" }}</div>
<div v-if="seen">Can be seen</div>

<a :href="url">v-bind(:)</a>
<button v-on:click="doClick">Click(v-on)</button>
<button @click="doClick">Click@</button>

<div>{{ reverseMessage }}</div>
<div>{{ reversingMessage() }}</div>

<p>{{ fullName }}</p>

<input v-model="question" :placeholder="placeholder" />
<div>{{ answer }}</div>

<p v-bind:class="classObject">This is class truthiness test</p>
<p v-bind:style="styleObject">This is style test</p>

<h2 v-if="ok">Yes</h2>
<h2 v-else>No</h2>

<!-- Tag <template> won't be rendered -->
<template>
	<h1>Title</h1>
	<p>Paragraph 1</p>
</template>

<!-- switch dom existence -->
<template v-if="!signedin">
	<input placeholder="Input your name" key="userName" />
</template>
<template v-else>
	<input placeholder="Input your email" key="userEmail" />
</template>

<!-- only switch 'display' -->
<h3 v-show="ok">Hello!</h3>

<ul>
	<li v-for="(item, index) in items">
		{{ (index + 1) + ". " + item }}
	</li>
</ul>
</div>

<script>
let data = {
	dynamicId: "myId",
	message: "hello",
	rawHTML: "<span style='background-color:red'>Red</span>",
	seen: true,
	url: "http://www.baidu.com",
	firstName: "Tom",
	lastName: "Jerry",
	answer: "Initialized, no answer",
	question: "",
	placeholder: "This is question, please change it",
	isActive: true,
	alert: 0,
	styleObject: {
		color: "blue",
		fontSize: "1.2rem"
	},
	ok: true,
	signedin: false,
	ok: true,
	items: [
		"item-1", "item-2"
	]
};

let vm = new Vue({
    el: "#wrapper",
    data: data,
	methods: {
		doClick: function(e) {
			alert("clicked");
		},
		// updated when message updated
		// re-render will always trigger this method
		reversingMessage: function() {
			return this.message.split("").reverse().join("");
		},
		debounceGetAnswer: function() {
			let ctx = this;
			setTimeout(function() {
				ctx.answer = ctx.question.toUpperCase();
			}, 500);
		}
	},
	computed: {
		// updated when message updated
		// only message updates can trigger re-compute
		reverseMessage: function() {
			return this.message.split("").reverse().join("");
		},
		fullName: {
			get: function() {
				return this.firstName + " " + this.lastName;
			},
			set: function(v) {
				let names = v.split(" ");
				this.firstName = names[0];
				this.lastName = names[1];
			}
		},
		classObject: function() {
			return {
				active: this.isActive,
				"text-red": this.alert
			}
		}
	},
	watch: {
		question: function() {
			this.answer = "Waiting ...";
			this.debounceGetAnswer();
		}
	},
	created: function() {
		console.log(this.message);
	},
	destroyed: function() {
		console.log("vm is destroyed!");
	}
});
</script>
</body>
</html>
