<!DOCTYPE>

<html lang="en">
<head>
<meta charset="utf-8">
<script src="./lib/vue.js"></script>
<style>
.active {
	background-color: yellow;
}
.text-red {
	color: red;
}
</style>
</head>

<!--
TODO:
https://cn.vuejs.org/v2/guide/list.html
-->

<body>
<div id="wrapper">
<h1 id="title" v-once>{{ message  }}</h1>
<div>{{ rawHTML }}</div>
<span v-html="rawHTML"></span>

<div v-bind:id="dynamicId">V-Bind, {{ message + " world!" }}</div>
<div v-if="seen">Can be seen</div>

<a :href="url">v-bind(:)</a>
<button v-on:click="doClick">Click(v-on)</button>
<button @click="doClick">Click@</button>

<div>{{ reverseMessage }}</div>
<div>{{ reversingMessage() }}</div>

<p>{{ fullName }}</p>

<input v-model="question" :placeholder="placeholder" />
<div>{{ answer }}</div>

<p v-bind:class="classObject">This is class truthiness test</p>
<p v-bind:style="styleObject">This is style test</p>

<h2 v-if="ok">Yes</h2>
<h2 v-else>No</h2>

<!-- Tag <template> won't be rendered -->
<template>
	<h1>Title</h1>
	<p>Paragraph 1</p>
</template>

<!-- switch dom existence -->
<template v-if="!signedin">
	<input placeholder="Input your name" key="userName" />
</template>
<template v-else>
	<input placeholder="Input your email" key="userEmail" />
</template>

<!-- only switch 'display' -->
<h3 v-show="ok">Hello!</h3>

<ul>
	<li v-for="(item, index) in items">
		{{ (index + 1) + ". " + item }}
	</li>
</ul>

<ul style="list-style:circle">
	<li v-for="item in computedItems">
		{{ item }}
	</li>
</ul>
</div>

<div id="todo-list-demo">
	<form v-on:submit.prevent="addNewTodo">
		<label for="new-todo">Add a todo</label>
		<input v-model="newTodoText" id="new-todo" placeholder="Input your todo">
		<button>Add</button>
	</form>
	<ul>
		<li
		    is="todo-item"
			v-for="(todo, index) in todos"
			v-bind:key="todo.id"
			v-bind:title="todo.title"
			@remove="todos.splice(index, 1)">
		</li>
	</ul>
</div>

<script>
let data = {
	dynamicId: "myId",
	message: "hello",
	rawHTML: "<span style='background-color:red'>Red</span>",
	seen: true,
	url: "http://www.baidu.com",
	firstName: "Tom",
	lastName: "Jerry",
	answer: "Initialized, no answer",
	question: "",
	placeholder: "This is question, please change it",
	isActive: true,
	alert: 0,
	styleObject: {
		color: "blue",
		fontSize: "1.2rem"
	},
	ok: true,
	signedin: false,
	ok: true,
	items: [
		"item-1", "item-2"
	]
};

let vm = new Vue({
    el: "#wrapper",
    data: data,
	methods: {
		doClick: function(e) {
			alert("clicked");
		},
		// updated when message updated
		// re-render will always trigger this method
		reversingMessage: function() {
			return this.message.split("").reverse().join("");
		},
		debounceGetAnswer: function() {
			let ctx = this;
			setTimeout(function() {
				ctx.answer = ctx.question.toUpperCase();
			}, 500);
		}
	},
	computed: {
		// updated when message updated
		// only message updates can trigger re-compute
		reverseMessage: function() {
			return this.message.split("").reverse().join("");
		},
		fullName: {
			get: function() {
				return this.firstName + " " + this.lastName;
			},
			set: function(v) {
				let names = v.split(" ");
				this.firstName = names[0];
				this.lastName = names[1];
			}
		},
		classObject: function() {
			return {
				active: this.isActive,
				"text-red": this.alert
			}
		},
		computedItems: function() {
			return this.items.map((item, i) => item + "-" + i * 2);
		}
	},
	watch: {
		question: function() {
			this.answer = "Waiting ...";
			this.debounceGetAnswer();
		}
	},
	created: function() {
		console.log(this.message);
	},
	destroyed: function() {
		console.log("vm is destroyed!");
	}
});

Vue.component("todo-item", {
    template: "<li>{{ title }}<button v-on:click=\"$emit('remove')\">Remove</button></li>",
	props: ["title"]
});

new Vue({
	el: "#todo-list-demo",
	data: {
		newTodoText: "",
		todos: [
			{
				id: 1,
				title: "Do the dishes"
			},
			{
				id: 2,
				title: "Take out the trash"
			},
			{
				id: 3,
				title: "Mow the lawn"
			}
		],
		nextTodoId: 4
	},
	methods: {
		addNewTodo: function() {
			this.todos.push({
				id: this.nextTodoId++,
				title: this.newTodoText
			});
			this.newTodoText = "";
		}
	}
});
</script>
</body>
</html>
